* {
    padding: 0;
    margin: 0;
}

.main {
    /* background: linear-gradient(45deg, #ff000080, rgba(0, 128, 0, 0.52)); */
    background: radial-gradient(circle, #ff0000d5, rgba(187, 245, 187, 0.848));
    height: 500px;
}

p {
    color: red;
    background: yellow;
    font-size: 20px;
    font-weight: bold;
}