* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    background: red;
    overflow: hidden;
}

.main::before {
    content: "";
    width: 50%;
    height: 100%;
    background: rgb(209, 121, 121);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
    transition: 0.5s;
}

.main::after {
    content: "";
    width: 50%;
    height: 100%;
    background: rgb(86, 232, 86);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
    z-index: 1;
    transition: 0.5s;
}