h1 {
    background: lightblue;
}

span {
    color: blue;
}

a {
    text-decoration: none;
    font-size: 32px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

p {
    font-size: 24px;
    color: rgb(144, 144, 255);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}